*{
    font-family: "Roboto", sans-serif;
    font-weight: 1200; 
    width: 400px;
  }

  body{
    margin: 0 auto; 
    font-size: xx-large;
  } 

  html{
    background-color: rgb(234, 210, 226);
    margin: 60px auto;
  }


h1{
    color: palevioletred;
    font-weight: bold;
    margin: 0 auto; 
}
#mejor{
    color: rgb(208, 66, 94);
    font-style: italic;
}
.cl{
    color: rgb(220, 132, 170);
}
