*{
  font-family: "Roboto", sans-serif;
  font-weight: 1200; 
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 40px;
}
.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgb(147, 103, 89);
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(220, 204, 183);
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgb(208, 66, 94);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(208, 66, 94);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

h1{
  color:rgb(208, 66, 94);
    font-weight: bold;
    margin: 0px 40px auto;
  }
.navbar ul{
list-style-type: none;

padding: 0px;
margin: 20px 600px;
overflow: hidden;
}
.navbar a{
color: rgb(147, 103, 89);
text-decoration-style: none;
padding: 20px;
display: block;
margin: 0 auto;
text-align: left;
}
.navbar a:hover{
/*background-color: rgb(227, 156, 186);*/
color:rgb(208, 66, 94);
}
.navbar li{
float:  left;
}

.switch-on {
  background-color: rgb(41, 41, 41);
}
body {
  background-color: rgb(220, 204, 183);
  margin: 0 auto; 
  font-size: xx-large;
}
html{
  /*background-color: rgb(234, 210, 226);*/
  margin: 60px auto;
}
#mejor{
  color: rgb(117, 84, 71);
  font-style: italic;
}
.cl{
  color: rgb(147, 103, 89);
  margin: 100px 30px auto;
  
}